#root {
  height: 100%;
  position: relative;
}

.mouse-hover-container {
  width: 200px;
  height: 200px;
  background-color: #000;
  .mouse-hover-title {
    opacity: 0;
    color: #fff;
    transition: 0.4s;
  }
  &.display-title {
    .mouse-hover-title {
      opacity: 1;
    }
  }
}

.example {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  outline: none;
  border: none;
  color: #fff;
  background-color: rgba(0, 183, 195, 1);
  padding: 8px;
  border-radius: 3px;
  white-space: nowrap;

  cursor: pointer;
  transition: background-color 0.3s ease-out;
  &:hover {
    background-color: rgba(0, 183, 195, 0.8);
  }
}
